# Ignore dependencies
node_modules/

# Ignore build outputs
build/
dist/

# Logs
logs/
*.log

# OS junk
.DS_Store
Thumbs.db

# Environment variables
*.env

# Ignore uploads directory
uploads/
